{% extends "header.html" %}
{% block content %}
<div class="row" style="padding: 5%;">
    <div class="col-md-4">
        <div class="wrapper">
        <div class="image">
            {% if img %}
            <img id="foodimage" onload="$(this).data('loaded', 'loaded');" src="{{ url_for('static',filename=img)}}" alt="">
            {% else %}
            <img id="foodimage" onload="$(this).data('loaded', 'loaded');" src="{{ url_for('static',filename=img)}}" alt="">
            
            {% endif %}
            

        </div>
        </div></div>
<div id="info" style="margin: auto;" class="col-md-8">
    <div class="card text-center pb-2">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="tabbtn1" href="#" onclick="javascript:myFunctab1()">Recipe 1</a>
                </li>
            </ul>
        </div>
        <div id="tab1">
            <div class="card-body" align="left" id="result">
                <h5 class="card-title" align="center">Grilled chicken kebabs</h5>
                <br>
                <h6>Ingredients :</h6>
                <p class="card-text">pepper, oil, onion, clove, salt, chicken, cilantro, cumin, chili, paprika</p>
                <br>
                <h6>Recipe :</h6>
                



                <ol class="pl-3">
                    <li class="card-text">In a large bowl, combine the first 9 ingredients.                    </li>
                    <li class="card-text">Add chicken and toss to coat. </li>
                    <li class="card-text">Cover and refrigerate for at least 1 hour.</li>
                    <li class="card-text">Thread chicken onto skewers.</li>
                    <li class="card-text">Grill over medium heat, turning occasionally, until chicken is cooked through, about 10 minutes.</li>
                    <!-- <li class="card-text">Cook, stirring constantly, until cheese is melted.  </li>
                    <li class="card-text">Add peas and carrots; cook until heated through.</li>
                    <li class="card-text">Drain pasta; toss with sauce</li> -->
                </ol>
                <br>
                
            </div>
        </div>
                      </div>
                    </div>
                    
                  </div>
            </div>

            

        </div>
    </div>
</div>    
</div">
{% endblock content %}